.DS_Store
/roles
/playbook.retry

# inventory files
inventories/**/*
!inventories/example
!inventories/example.yml

# test playbooks
playbook.yml

# Vagrant
.vagrant
*.log
# Include Vagrantfile templates only
Vagrantfile

# vim
*.swp

# Certificate testing
*.csr
*.crt
*.key
