#!/bin/bash

BACKUP_DIR="/tmp"
BUCKET="CONSULPUB-BACKUP"
DATABASE="{{DATABASE_NAME}}"

BACKUP_FILE="mongodump-`date +%Y%m%d%H%M`.archive.gz"

echo "· Creating $BACKUP_DIR/$BACKUP_FILE ..."
mongodump --host localhost --port 27017 --db $DATABASE --gzip --archive="$BACKUP_DIR/$BACKUP_FILE"

echo "· Uploading $BACKUP_FILE to S3..."
s3cmd put "$BACKUP_DIR/$BACKUP_FILE" "s3://$BUCKET/`hostname`/$BACKUP_FILE"

echo "· Removing $BACKUP_DIR/$BACKUP_FILE ..."
rm "$BACKUP_DIR/$BACKUP_FILE"

echo '· Done!'