#!/bin/bash
echo "· Creating $BACKUP_DIR/$BACKUP_FILE ..."
docker run -it --rm --link src_mongo_1:mongodb --network src_back-tier --network src_front-tier -v {{MONGODB_BACKUP_FOLDER}}:/data mongo bash -c 'mongodump -h mongodb -p 27017 --db {{APP_DATABASE_NAME}} --gzip --archive=/data/mongodump-`date +%Y%m%d%H%M`.archive.gz'

echo '· Done!'