version: '3'

services:
  proxy:
    image: traefik:1.6.6
    command: --api --docker
    networks:
      - front-tier
      - back-tier
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - {{ traefik_config_dir_path }}/traefik.toml:/traefik.toml
{% if democracyos_protocol == 'https' %}
      - {{ traefik_config_dir_path }}/acme.json:/acme.json
{% if https_certificate_path is defined and https_key_path is defined %}
      - {{ traefik_config_dir_path }}/cert.crt:/cert.crt
      - {{ traefik_config_dir_path }}/key.key:/key.key
{% endif %}
{% endif %}
    ports:
      - "80:80"
      - "127.0.0.1:8000:8000"
      - "127.0.0.1:8080:8080"
{% if democracyos_protocol == 'https' %}
      - "443:443"
{% endif %}
    labels:
      - "traefik.enable=false"

{% if not enable_external_mongo %}
  mongo:
    image: mongo:3.6
    environment:
      - MONGO_INITDB_DATABASE={{ democracyos_database_name }}
    networks:
      - back-tier
    volumes:
      - {{ mongodb_volume_dir_path }}:/data/db
    labels:
      - "traefik.enable=false"
{% endif %}

{% if enable_mgob %}
  mgob:
    image: stefanprodan/mgob:latest
    networks:
      - back-tier
    volumes:
      - {{ mongodb_backup_config_dir_path }}:/config
      - {{ mongodb_backup_storage_dir_path }}:/storage
      - {{ mongodb_backup_tmp_dir_path }}:/tmp
      - {{ mongodb_backup_data_dir_path }}:/data
    labels:
      - "traefik.enable=true"
      - "traefik.port=8090"
      - "traefik.backend=mgob"
      - "traefik.frontend.entryPoints=httpMGOB"
      - "traefik.frontend.rule=Host:localhost;Path:/storage,/status,/version,/backup,/metrics;Method:GET"
      - "traefik.docker.network=back-tier"
{% endif %}

{% if not enable_external_keycloak %}
  keycloak:
    image: {{ democracyos_keycloak_image }}
    environment:
      - DB_VENDOR=mysql
      - DB_ADDR={{ mysql_host }}
      - DB_PORT={{ mysql_port }}
      - DB_DATABASE={{ mysql_database }}
      - DB_USER={{ mysql_user }}
      - DB_PASSWORD={{ mysql_password }}
      - KEYCLOAK_USER={{ keycloak_user }}
      - KEYCLOAK_PASSWORD={{ keycloak_password }}
      - PROXY_ADDRESS_FORWARDING=true
    labels:
      - "traefik.enable=true"
      - "traefik.backend=keycloak"
      - "traefik.port=8080"
      - "traefik.docker.network=back-tier"
{% if democracyos_protocol == 'http' %}
      - "traefik.frontend.entryPoints=http"
{% endif %}
{% if democracyos_protocol == 'https' %}
      - "traefik.frontend.entryPoints=http,https"
      - "traefik.frontend.redirect.entryPoint=https"
{% endif %}
      - "traefik.frontend.rule=Host:{{ democracyos_host }};PathPrefix:/auth"
    networks:
      - back-tier
    restart: always
{% endif %}

# If Keycloak is not locally deployed or MySQL server is external
# MySQL container is not included. 
{% if not (enable_external_mysql or enable_external_keycloak) %}
  mysql:
    image: mysql:5.7
    command: --ssl=0
    environment:
      - MYSQL_ROOT_PASSWORD={{ mysql_root_password }}
      - MYSQL_DATABASE={{ mysql_database }}
      - MYSQL_USER={{ mysql_user }}
      - MYSQL_PASSWORD={{ mysql_password }}
    labels:
      - "traefik.enable=false"
    networks:
      - back-tier
    volumes:
      - {{ mysql_volume_dir_path }}:/var/lib/mysql
{% endif %}

  notifier:
    image: {{ democracyos_notifier_image }}
    environment:
      - ORGANIZATION_EMAIL={{ notifier_organization_email }}
      - ORGANIZATION_NAME={{ notifier_organization_name }}
      - NODEMAILER_HOST={{ notifier_nodemailer_host }}
      - NODEMAILER_USER={{ notifier_nodemailer_user }}
      - NODEMAILER_PASS={{ notifier_nodemailer_pass }}
      - MONGO_URL=mongodb://{{ mongo_host}}:{{ mongo_port }}/{{ democracyos_database_name }}
      - NODE_ENV={{ notifier_node_env }}
    labels:
      - "traefik.enable=false"
    networks:
      - back-tier
    # working-dir: /home/node/app deberia setearse en el Dockerfile
    # user: node deberia setearse en el Dockerfile
    restart: always

  app:
    expose:
      - "{{ democracyos_public_port }}"
    image: {{ democracyos_docker_image }}
{% if democracyos_memory_limit is defined %}
    command: 'node --max_old_space_size={{ democracyos_memory_limit }} index.js'
{% endif %}
    environment:
      - PROTOCOL={{ democracyos_protocol }}
      - HOST={{ democracyos_host }}
      - PUBLIC_PORT={{ democracyos_public_port }}
      - MONGO_URL=mongodb://{{ mongo_host }}:{{ mongo_port }}/{{ democracyos_database_name }}
      - JWT_SECRET={{ democracyos_jwt_secret }}
      - API_URL={{ democracyos_api_url }}
      - REALM={{ democracyos_keycloak_realm }}
      - AUTH_SERVER={{ democracyos_keycloak_host }}
      - RESOURCE_DEV=front-local
      - RESOURCE_TEST=front-test
      - PUBLIC_CLIENT=true
      - CONFIDENTIAL_PORT=0
{% if democracyos_protocol == 'https' %}
      - HTTPS_REDIRECT=reverse-proxy
      - SSL_REQUIRED=external
{% endif %}
{% if democracyos is defined %}
{% for key, value in democracyos.iteritems() %}
      - {{ key }}={{ value }}
{% endfor %}
{% endif %}
    tty: true
    networks:
      - back-tier
    labels:
      - "traefik.enable=true"
      - "traefik.backend=app"
      - "traefik.port={{ democracyos_public_port }}"
      - "traefik.frontend.rule=Host:{{ democracyos_host }}"
{% if democracyos_protocol == 'http' %}
      - "traefik.frontend.entryPoints=http"
{% endif %}
{% if democracyos_protocol == 'https' %}
      - "traefik.frontend.entryPoints=http,https"
      - "traefik.frontend.redirect.entryPoint=https"
{% endif %}
      - "traefik.docker.network=back-tier"
    restart: always

  core:
    image: {{ democracyos_core_image }}
    environment:
      - PORT=3000
      - SESSION_SECRET={{ democracyos_jwt_secret }}
      - MONGO_URL=mongodb://{{ mongo_host }}:{{ mongo_port }}/{{ democracyos_database_name }}
      - KEYCLOAK_TOKEN_ENDPOINT=keycloak
      - AUTH_SERVER={{ democracyos_keycloak_host }}
      - AUTH_REALM={{ democracyos_keycloak_realm }}
      - AUTH_CLIENT=back-local
    networks:
      - back-tier
    labels:
      - "traefik.enable=true"
      - "traefik.backend=core"
      - "traefik.port=3000"
      - "traefik.frontend.rule=Host:{{ democracyos_host }};PathPrefix:/api"
{% if democracyos_protocol == 'http' %}
      - "traefik.frontend.entryPoints=http"
{% endif %}
{% if democracyos_protocol == 'https' %}
      - "traefik.frontend.entryPoints=http,https"
      - "traefik.frontend.redirect.entryPoint=https"
{% endif %}
      - "traefik.docker.network=back-tier"
    restart: always

networks:
  front-tier:
    driver: bridge
  back-tier:
    driver: bridge
