version: '2'

services:
  app:
    expose:
      - "{{ democracyos_public_port }}"
    image: {{ democracyos_docker_image }}
{% if democracyos_memory_limit is defined %}
    command: 'node --max_old_space_size={{ democracyos_memory_limit }} index.js'
{% endif %}
    environment:
      - PROTOCOL={{ democracyos_protocol }}
      - HOST={{ democracyos_host }}
      - PUBLIC_PORT={{ democracyos_public_port }}
      - MONGO_URL=mongodb://mongo/{{ democracyos_database_name }}
      - JWT_SECRET={{ democracyos_jwt_secret }}
{% if democracyos_protocol == 'https' %}
      - HTTPS_REDIRECT='reverse-proxy'
{% endif %}
{% if democracyos is defined %}
{% for key, value in democracyos.iteritems() %}
      - {{ key }}={{ value }}
{% endfor %}
{% endif %}
    tty: true
    networks:
      - democracy_os_back-tier
    labels:
      - "traefik.enable=true"
      - "traefik.backend=app"
      - "traefik.port={{ democracyos_public_port }}"
      - "traefik.frontend.rule=Host:{{ democracyos_host }}"
{% if democracyos_protocol == 'http' %}
      - "traefik.frontend.entryPoints=http"
{% endif %}
{% if democracyos_protocol == 'https' %}
      - "traefik.frontend.entryPoints=http,https"
      - "traefik.frontend.redirect.entryPoint=https"
{% endif %}
      - "traefik.docker.network=democracy_os_back-tier"
    restart: always

networks:
  democracy_os_back-tier:
    external: true
