{% if leyesabiertas_protocol == 'http' %}
defaultEntryPoints = ["http"]
{% endif %}
{% if leyesabiertas_protocol == 'https' %}
defaultEntryPoints = ["http", "https"]
{% endif %}

[entryPoints]
  [entryPoints.httpMGOB]
  address = ":8000"
  [entryPoints.http]
  address = ":80"
{% if leyesabiertas_protocol == 'https' %}
    [entyrPoints.http.redirect]
    entryPoint = "https"
  [entryPoints.https]
  address = ":443"
{% if enable_own_certificate %}
    [entryPoinst.https.tls]
      minVersion = "VersionTLS12"
      cipherSuites = [
        "TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256",
        "TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384",
        "TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256",
        "TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256",
        "TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256",
        "TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256",
      ]
      [[entryPoints.https.tls.certificates]]
      certFile = "/cert.crt"
      keyFile = "/key.key"
{% endif %}
{% if enable_lets_encrypt %}
    [entryPoints.https.tls]

[acme]
email = "{{ lets_encrypt_email }}"
storage = "/acme.json"
entryPoint = "https"
acmeLogging = true
onHostRule = true
{% if enable_lets_encrypt_staging %}
caServer = "https://acme-staging-v02.api.letsencrypt.org/directory"
{% endif %}
[acme.httpChallenge]
entryPoint = "http"
{% endif %}
{% endif %}

[docker]
endpoint = "unix:///var/run/docker.sock"
domain = "{{ leyesabiertas_host }}"

logLevel = "INFO"
[traefikLog]
  filePath = "/var/log/traefik.log"

[accessLog]
  filePath = "/var/log/access.log"
